@charset "UTF-8";
@font-face {
  font-family: "Century";
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.welcome .welcome__left .welcome__left-title, .about .about__title, .services .services__title, .follow .follow__title {
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0em;
}

.welcome .welcome__left .welcome__left-subtitle, .welcome .welcome__left .welcome__left-appointment {
  font-family: Century;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.wrapper .nav .nav__items .nav__item, .footer {
  font-family: Century;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  font-size: 17px;
}

.wrapper .nav .nav__phone, .services .services__wrapper .services__block .services__subtitle, .feedback .feedback__left .feedback__stock {
  font-family: Century;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.services .services__wrapper .services__block .services__block-title {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  font-size: 80px;
}

.follow .follow__photos .follow__button {
  font-family: 'Montserrat';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
}

.feedback .feedback__left .feedback__stock-title {
  font-family: Century;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
img,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 65%;
  margin: auto;
}
.wrapper .nav {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.wrapper .nav .nav__items {
  display: flex;
}
.wrapper .nav .nav__items .nav__item {
  list-style: none;
  padding: 40px;
  color: #3c3c3c;
}
.wrapper .nav .nav__items .nav__item--decor {
  margin-top: 30px;
  font-size: 30px;
}
.wrapper .nav .nav__phone {
  margin-top: 40px;
  color: #3c3c3c;
}
.wrapper .nav .nav__logo {
  margin-top: 25px;
}

.welcome__right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.welcome__right-img1 {
  grid-area: 1 / 1 / 3 / 2;
  padding: 5px;
}

.welcome__right-img2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 3px;
}

.welcome__right-img3 {
  grid-area: 2 / 2 / 3 / 3;
  padding: 5px;
}

.check::before {
  content: url(../svg/check.svg);
}

.welcome__background {
  background-color: #FFE7E3;
  background-image: url(../svg/background-1.svg);
  background-repeat: no-repeat;
  background-position: 80% 35%;
}

.welcome {
  display: flex;
  margin-top: 10px;
  background-image: url(../svg/welcome__background.svg);
  background-repeat: no-repeat;
  background-position: left 3%;
}
.welcome .welcome__right {
  max-height: 610px;
  margin: 80px 0px 60px 0px;
}
.welcome .welcome__left {
  margin: 90px 50px 135px 0px;
}
.welcome .welcome__left .welcome__left-subtitle {
  padding: 10px 0px 7px 0px;
}
.welcome .welcome__left .welcome__left-appointment {
  padding: 12px 50px;
  margin-top: 43px;
  background: #3c3c3c;
  color: white;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.about {
  background-image: url(../svg/hand.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.about .about__background {
  background-image: url(../svg/body.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.about .about__title {
  margin-top: 160px;
  margin-bottom: 55px;
  margin-left: 46%;
}
.about .about__subtitle {
  max-width: 870px;
  margin: 0 auto;
  text-align: center;
}
.about .about__lotus-line {
  display: flex;
  justify-content: center;
  margin: 54px 0px 54px 0px;
}
.about .about__lotus-line .about__lotus-text {
  margin-top: 20px;
}
.about .about__lotus-line .about__lotus {
  background-color: #FFE7E3;
  border-radius: 50%;
  width: 60px;
  height: 51px;
  padding: 5px;
}
.about .rotated {
  transform: rotate(180deg);
}

.slider {
  position: relative;
  margin-bottom: 167px;
}

.slick-prev {
  border-radius: 50%;
  border: none;
  width: 54px;
  height: 54px;
  font-size: 0px;
  position: absolute;
  top: 100px;
  left: -2%;
  z-index: 999;
  background: url(../svg/arrow-left.svg) 0 0/100% no-repeat;
  cursor: pointer;
  outline: none;
}

.slick-next {
  border-radius: 50%;
  border: none;
  width: 54px;
  height: 54px;
  font-size: 0px;
  position: absolute;
  bottom: 100px;
  right: -2%;
  z-index: 999;
  background: url(../svg/arrow-right.svg) 0 0/100% no-repeat;
  cursor: pointer;
  outline: none;
}

.center__img {
  padding: 0px 5px;
}

.services {
  margin: 155px 0px;
  padding-bottom: 164px;
  background-color: #e1cfdb;
  background-image: url(../svg/services_bg.svg);
  background-repeat: no-repeat;
  background-position: top top;
}
.services .services__background {
  background-image: url(../svg/services_background.svg);
  background-repeat: no-repeat;
  background-position: center 20%;
}
.services .services__title {
  padding-top: 155px;
  margin-bottom: 90px;
  margin-left: 39%;
  color: white;
}
.services .services__wrapper {
  display: flex;
  justify-content: space-evenly;
}
.services .services__wrapper .services__block {
  border-color: #e1cfdb;
  border: 20px;
  width: 530px;
  height: 580px;
  padding: 20px 20px 60px 20px;
  outline: 20px solid #E1CFDB;
  outline-offset: 4px;
}
.services .services__wrapper .services__block .services__block-title {
  margin-left: 22%;
  color: white;
}
.services .services__wrapper .services__block .services__subtitle {
  margin-top: 78%;
  margin-left: 56%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE7E3;
  width: 210px;
  height: 60px;
}
.services .services__wrapper .pedicure {
  background-image: url(../img/service-1.png);
  background-size: 100%;
}
.services .services__wrapper .manicure {
  background-image: url(../img/service-2.png);
  background-size: 100%;
}

.follow {
  display: flex;
  margin-bottom: 300px;
  background-image: url(../img/background__inst.png);
  background-repeat: no-repeat;
  background-position: center 68%;
}
.follow .follow__background {
  background-image: url(../svg/instagram__background.svg);
  background-repeat: no-repeat;
  background-position: center 0%;
}
.follow .follow__title {
  margin-bottom: 100px;
  margin-left: 20%;
}
.follow .follow__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
}
.follow .follow__photos .follow__photo {
  margin: 4px;
  width: 360px;
  height: 360px;
}
.follow .follow__photos .follow__button {
  width: 330px;
  height: 50px;
  position: absolute;
  z-index: 999;
  top: 47%;
  left: 392px;
  background: #3c3c3c;
  color: white;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.feedback {
  position: relative;
  padding-bottom: 300px;
  padding-top: 200px;
  background-color: #e1cfdb;
  background-image: url(../svg/feedback_background.svg);
  background-repeat: no-repeat;
  background-position: 42.5% 23%;
}
.feedback .feedback__left {
  margin-left: 50px;
}
.feedback .feedback__left .feedback__stock {
  margin-bottom: 10px;
  margin-left: 35px;
}
.feedback .feedback__left .feedback__stock-title {
  margin-bottom: 120px;
}
.feedback .feedback__right .feedback__right-img {
  width: 250px;
  height: 350px;
  border: 2.54936px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px;
}
.feedback .feedback__right .first {
  position: absolute;
  z-index: 5;
  left: 44%;
  bottom: 30%;
}
.feedback .feedback__right .second {
  position: absolute;
  z-index: 4;
  left: 54%;
  bottom: 45%;
  background: #3c3c3c;
}
.feedback .feedback__right .third {
  position: absolute;
  z-index: 6;
  left: 57.5%;
  top: 50%;
  border: none;
}
.feedback .feedback__right .fourth {
  position: absolute;
  z-index: 2;
  left: 68%;
  bottom: 35%;
}

input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #E1CFDB;
  margin: 29px 18% 15px;
}

form {
  width: 300px;
  height: 290px;
  background-color: white;
}

.button__submit {
  width: 230px;
  height: 50px;
  background: #3c3c3c;
  color: white;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 40px 36px;
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 150px;
  background-color: #3c3c3c;
  color: white;
}
.footer .footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.footer .footer__left .footer__anchors .footer__anchor {
  margin: 5px;
  color: white;
}
.footer .footer__left .footer__copyright {
  color: white;
}
.footer .footer__right {
  margin-top: 30px;
}
.footer .footer__right .footer__link-img {
  margin: 0 2px;
}

.wrapper__follow {
  max-width: 72%;
  margin: auto;
}

@media only screen and (max-width: 1366px) {
  .wrapper .nav .nav__phone {
    width: 250px;
    font-size: 18px;
    margin-top: 34px;
  }

  .wrapper .nav .nav__items .nav__item {
    padding: 35px;
  }

  .welcome .welcome__left {
    margin: 35px 50px 135px 0px;
  }

  .welcome__background {
    background-position: 305% 5%;
  }

  .slick-next {
    bottom: 55px;
  }

  .slick-prev {
    top: 57px;
  }

  .services .services__wrapper .services__block {
    height: 457px;
    outline-offset: 0px;
  }

  .services .services__wrapper .services__block .services__subtitle {
    margin-top: 72%;
    margin-left: 44%;
  }

  .services .services__wrapper .services__block {
    margin: 10px;
  }

  .follow .follow__photos .follow__button {
    left: 358px;
    width: 300px;
  }

  .follow .follow__photos .follow__photo {
    width: 329px;
    height: 330px;
  }

  .feedback .feedback__right .first {
    left: 50%;
  }

  .feedback .feedback__right .second {
    left: 60%;
  }

  .feedback .feedback__right .third {
    left: 63.5%;
  }

  .feedback .feedback__right .fourth {
    left: 74%;
  }

  .feedback {
    background-position: 54.5% 23%;
  }

  .about .about__title {
    margin-left: 42%;
  }

  .services .services__title {
    margin-left: 35%;
  }
}
@media only screen and (max-width: 1280px) {
  .wrapper {
    max-width: 80%;
  }

  .welcome__background {
    background-position: 400% 5%;
  }

  .slick-next {
    bottom: 68px;
  }

  .slick-prev {
    top: 70px;
  }

  .services .services__wrapper .services__block {
    margin: 43px;
  }

  .services .services__wrapper .services__block .services__block-title {
    margin-left: 15%;
  }

  .wrapper__follow {
    max-width: 79%;
  }

  .about .about__title {
    margin-left: 43%;
  }

  .feedback {
    background-position: 48.5% 23%;
  }
}
@media only screen and (max-width: 1024px) {
  .feedback .feedback__right .first {
    height: 350px;
    width: 310px;
    left: 14%;
    top: 57%;
  }

  .feedback .feedback__right .second {
    height: 350px;
    width: 310px;
    left: 38%;
    top: 60%;
  }

  .feedback .feedback__right .third {
    height: 350px;
    width: 310px;
    left: 44.5%;
    top: 47%;
  }

  .feedback .feedback__right .fourth {
    height: 350px;
    width: 310px;
    left: 61%;
    top: 57%;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1600px;
    padding-bottom: 750px;
    padding-top: 0px;
    background-position: 76.5% 12%;
  }

  .follow .follow__photos .follow__button {
    top: 31%;
    left: 195px;
  }

  .follow .follow__photos {
    grid-template-columns: repeat(2, 1fr);
  }

  .services .services__wrapper .services__block {
    margin: -7px;
  }

  .services .services__wrapper .services__block .services__subtitle {
    margin-left: 38%;
  }

  .slick-next {
    bottom: 47px;
  }

  .slick-prev {
    top: 55px;
  }

  .welcome {
    flex-direction: column;
  }

  .welcome .welcome__left {
    margin: 84px 50px -40px 0px;
  }

  .wrapper .nav {
    margin-top: 5px;
  }

  .wrapper .nav .nav__items:after {
    border-bottom: 0.5px solid #3C3C3C;
    width: 200px;
  }

  .wrapper .nav .nav__items .nav__item {
    padding-left: 50%;
  }

  .wrapper .nav .nav__items .nav__item--decor {
    display: none;
  }

  .header__nav {
    display: block;
    position: absolute;
    left: -100%;
    transition: all 0.4s ease;
    background: #f5f6f6;
    box-shadow: #ccc;
    width: 100%;
    top: 120px;
    box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
  }

  .header__nav.open-menu {
    left: 0;
    top: 150px;
  }

  .wrapper .nav .nav__items {
    display: flex;
    flex-direction: column;
  }

  .menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }

  .menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }

  .menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }

  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }

  .menu-burger__header span {
    top: 16px;
  }

  .menu-burger__header:after, .menu-burger__header:before {
    content: '';
  }

  .menu-burger__header:after {
    bottom: 5px;
  }

  .menu-burger__header:before {
    top: 5px;
  }

  .menu-burger__header {
    position: relative;
    /* задаем относительное позиционирование */
    width: 40px;
    /* определяем размеры блока */
    height: 35px;
    display: block;
    left: 95%;
    top: 80px;
  }
}
@media only screen and (max-width: 768px) {
  /*         .slick-next {bottom: 35px;}
          .slick-prev {top: 42px;} */
  .welcome .welcome__left {
    margin: 84px 0px 0px 0px;
  }

  .wrapper .nav .nav__items .nav__item {
    text-align: center;
    padding-left: 0px;
  }

  .wrapper {
    max-width: 88%;
  }

  .welcome__background {
    height: 670px;
  }

  .welcome {
    background-position: 50% 1%;
  }

  .feedback .feedback__right .first {
    height: 310px;
    width: 270px;
    left: 14%;
    top: 57%;
  }

  .feedback .feedback__right .second {
    height: 310px;
    width: 270px;
    left: 38%;
    top: 60%;
  }

  .feedback .feedback__right .third {
    height: 310px;
    width: 270px;
    left: 44.5%;
    top: 47%;
  }

  .feedback .feedback__right .fourth {
    height: 310px;
    width: 270px;
    left: 61%;
    top: 57%;
  }

  .form {
    margin: 0 auto;
  }

  .feedback {
    background-position: 87.5% 4%;
    height: 1350px;
  }

  .follow .follow__photos .follow__photo {
    margin: 5px auto;
  }

  .follow .follow__photos .follow__button {
    top: 104%;
    left: 147px;
  }

  .follow .follow__photos {
    grid-template-columns: repeat(1, 1fr);
  }

  .services .services__wrapper .services__block {
    height: 311px;
    margin: 10px;
  }

  .services .services__wrapper .services__block .services__block-title {
    margin-left: 0%;
  }

  .services .services__wrapper .services__block .services__subtitle {
    margin: 40% 0 0 23%;
    width: 200px;
    height: 60px;
  }

  .services .services__wrapper .services__block .services__subtitle .subtitle-pedicure {
    margin-top: 25px;
  }

  .services .services__title {
    margin-left: 24%;
    padding-top: 110px;
  }

  .about__lotus-text {
    display: none;
  }

  .welcome .welcome__left {
    text-align: center;
  }

  .about .about__title {
    margin-top: 20%;
    margin-left: 40%;
  }

  .welcome .welcome__right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .welcome__right-img {
    height: 365px;
    width: 330px;
    display: none;
  }
}
@media only screen and (max-width: 533px) {
  .services .services__wrapper {
    flex-direction: column;
  }

  .services .services__wrapper .services__block {
    width: 425px;
    height: 458px;
    margin: 10px;
  }

  .services .services__wrapper .services__block .services__block-title {
    margin-left: 21%;
  }

  .services .services__wrapper .services__block .services__subtitle {
    margin: 66% 0 0 23%;
  }

  .follow .follow__background {
    background-image: none;
  }

  .follow .follow__photos .follow__button {
    left: 57px;
  }

  .feedback .feedback__right .first {
    height: 260px;
    width: 220px;
    left: 7%;
    top: 63%;
  }

  .feedback .feedback__right .second {
    height: 260px;
    width: 220px;
    left: 31%;
    top: 67%;
  }

  .feedback .feedback__right .third {
    height: 260px;
    width: 220px;
    left: 37.5%;
    top: 54%;
  }

  .feedback .feedback__right .fourth {
    height: 260px;
    width: 220px;
    left: 54%;
    top: 64%;
  }

  .feedback .feedback__left {
    margin-top: 40%;
  }

  .feedback {
    background-position: 16.5% 14%;
    height: 1351px;
  }
}
@media only screen and (max-width: 360px) {
  .welcome__background {
    height: 860px;
  }

  .menu-burger__header {
    left: 88%;
  }

  .about .about__title {
    margin-left: 27%;
  }

  .about {
    background-image: none;
  }
  .about .about__background {
    background-image: none;
  }

  .services .services__wrapper .services__block {
    width: 290px;
    height: 316px;
    margin: 15px;
    padding: 0px 70px 0px 0px;
  }

  .services .services__wrapper .services__block .services__block-title {
    margin-left: 4%;
  }

  .follow .follow__photos .follow__photo {
    height: 300px;
    width: 310px;
  }

  .wrapper__follow {
    max-width: 100%;
  }

  .follow .follow__photos .follow__button {
    left: 22px;
  }

  .feedback .feedback__left .feedback__stock {
    margin-left: 0px;
  }

  .feedback {
    background-position: 99.5% 12%;
  }

  .feedback .feedback__right .first {
    left: 2%;
    top: 65%;
  }

  .feedback .feedback__right .second {
    left: 23%;
    top: 77%;
  }

  .feedback .feedback__right .third {
    left: 19.5%;
    top: 54%;
  }

  .feedback .feedback__right .fourth {
    left: 33%;
    top: 64%;
  }

  .footer {
    padding: 5px;
  }

  .feedback .feedback__left {
    margin-left: 0px;
  }

  .footer .footer__left .footer__anchors .footer__anchor {
    margin: 10px;
    border-bottom: 1px solid #E1CFDB;
    border-radius: 2px;
  }

  .footer .footer__right {
    margin-top: 10px;
  }
  .footer .footer__right .footer__link-img {
    margin: 10px 5px;
  }
}
@media only screen and (max-width: 320px) {
  .welcome__background {
    height: 936px;
  }

  .services .services__wrapper .services__block {
    width: 230px;
    height: 251px;
  }

  .services .services__wrapper .services__block .services__block-title {
    font-size: 60px;
  }

  .services .services__wrapper .services__block .services__subtitle {
    margin: 56% 0 0 10%;
  }

  .follow .follow__photos .follow__photo {
    height: 252px;
    width: 270px;
  }

  .follow .follow__title {
    margin-left: 9%;
  }

  .follow .follow__photos .follow__button {
    left: 38px;
    width: 220px;
  }

  .form {
    width: 250px;
    height: 250px;
  }

  .button__submit {
    margin: 24px 22px;
    width: 197px;
  }

  input {
    margin: 27px 11% 15px;
  }

  .feedback {
    background-position: 19.5% 16%;
  }

  .feedback .feedback__left .feedback__stock {
    margin-left: 35px;
  }

  .feedback .feedback__left .feedback__stock-title {
    margin-left: 35px;
  }

  .feedback .feedback__right .first {
    left: 6%;
    top: 65%;
    width: 160px;
    height: 195px;
  }

  .feedback .feedback__right .second {
    left: 23%;
    top: 58%;
    width: 160px;
    height: 195px;
  }

  .feedback .feedback__right .third {
    left: 13.5%;
    top: 84%;
    width: 160px;
    height: 195px;
  }

  .feedback .feedback__right .fourth {
    left: 43%;
    top: 77%;
    width: 160px;
    height: 195px;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
